<div class="container" [formGroup]="bookForm" *ngIf="bookForm">
    <angular-monorepo-header-nav headerName="Edit Book {{bookForm.get('id')?.value}}" [displayArrow]="'../../'"></angular-monorepo-header-nav>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Enter Book Title</mat-label>
                <input matInput placeholder="Enter Book Title" formControlName="name" required>
                <mat-error *ngIf="bookForm.controls['name'].touched && bookForm.controls['name'].errors">{{getErrorMessage(bookForm.controls['name'].errors, 'Book Title')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Enter Genre</mat-label>
                <input matInput placeholder="Enter Genre" formControlName="genre">
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Choose Publisher</mat-label>
                <mat-select formControlName="publisher">
                  <mat-option>Clear</mat-option>
                  <mat-option [value]="publisher" *ngFor="let publisher of publishersList">{{publisher}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Enter Author Name</mat-label>
                <mat-select formControlName="author" multiple>
                  <mat-option *ngFor="let author of authorsList" [value]="author">{{author}}</mat-option>
                </mat-select>
                <mat-error *ngIf="bookForm.controls['author'].touched && bookForm.controls['author'].errors">{{getErrorMessage(bookForm.controls['author'].errors, 'Author Name')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field class="example-full-width">
                <mat-label>Choose a Publication Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="published_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="bookForm.controls['published_date'].touched && bookForm.controls['published_date'].errors">{{getErrorMessage(bookForm.controls['published_date'].errors, 'Publication Date')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Enter Image URL</mat-label>
                <input matInput placeholder="Enter Image URL" formControlName="img" required>
                <mat-error *ngIf="bookForm.controls['img'].touched && bookForm.controls['img'].errors">{{getErrorMessage(bookForm.controls['img'].errors, 'Image')}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <mat-form-field>
                <mat-label>Enter Excerpt</mat-label>
                <textarea matInput rows="3" cols="12" placeholder="Enter Excerpt" formControlName="excerpt"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button mat-raised-button color="primary" [disabled]="bookForm.invalid" (click)="onEditBook()">Submit</button>
        </div>
    </div>
</div>